.body {
    background-color: #eef2f5;
}

/* Index page */

#indexMainLayout {
    background-color: #4957B8;
    background-image: url(https://status.im/img/new-site/dot.svg);
    margin-top: 30px;
    border-radius: 10px;
}

.title {
    color: white;
}

#mainButton {
    background-color: #68c0f8;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    transition: background-color .2s ease;
}

#mainButton:hover {
    background-color: #84cfff;
}


/* styling input fields */

.inputfield {
    background-color: rgba(255,255,255,.12);
    border-radius: 8px;
    height: 45px;
    margin: 5px;
    width: 60%;
    color: white;
    font-family: PostGrotesk-Book,sans-serif;
    border: none;
    transition: background-color .2s ease;
    padding: 12px 20px;
}

.inputfield:focus {
    background-color: rgba(255,255,255,.20);
    outline: none;
}

/* Input placeholder on various browsers */

.inputfield::-webkit-input-placeholder {
    color: #d0d0d0;
}

.inputfield::-moz-input-placeholder {
    color: #d0d0d0;
}

.inputfield::-webkit-input-placeholder {
    color: #d0d0d0;
}

.inputfield:-ms-input-placeholder {
    color: #d0d0d0;
}

.inputfield:-moz-input-placeholder {
    color: #d0d0d0;
}

/* Signin page */
#signinButton {
    background-color: #68c0f8;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    transition: background-color .2s ease;
    text-align: center;
}

#signinButton:hover {
    background-color: #84cfff;
}


#signinMainLayout {
    background-color: #4957B8;
    background-image: url(https://status.im/img/new-site/dot.svg);
    margin-top: 30px;
    border-radius: 10px;
}

/* Friends page */
#friendsMainLayout {
    background-color: #4957B8;
    background-image: url(https://status.im/img/new-site/dot.svg);
    margin-top: 30px;
    border-radius: 10px;
}


.table thead th {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.table tbody tr td {
    color: white;
    font-size: 0.6em;
}

.table tbody tr td a {
    color: white;
}

.word-break {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     white-space: pre-wrap;       /* css-3 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
     word-break: break-all;
     white-space: normal;
}

.marked {
    background-color: #E3306D;
    text-decoration: line-through;
    border-radius: 8px !important;
}

.markButton {
    background-color: #E3306D;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    transition: background-color .2s ease;
    text-align: center;
}

.markButton:hover {
    background-color: #ef3e7a;
    color: white !important;
}

.markButton:focus {
    color: white !important;
}

/* General styles */

.defaultButton {
    background-color: #68c0f8;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    transition: background-color .2s ease;
    text-align: center;
}

.defaultButton:hover {
    background-color: #84cfff;
}